.core{
    margin: 0;
    padding: 0;
}

.core-header {
    background-color: white;
    min-height: 1rem;
}

.core-footer {
    background-color: white;
    height:100%;
    align-items: center;
    text-align: center;
}

.core-footer {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
}

.core-flex {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.card {
    box-shadow: 0 0.25rem 0.5rem 0 black;
    transition: 0.3s;
    min-height: 10rem;
    min-width: 10rem;
    border: 0.05rem solid black;
    display: flex;
    flex-direction: column;
}

.card-header {
    border-bottom: 1rem black;
    margin: 0.1rem;
    padding: 0.1rem;
    background-color: white;
}

.card-content {
    margin: 0.1rem;
    padding: 0.1rem;
    background-color: white;
}

.card-footer {
    border-top: 1rem black;
    margin: 0.1rem;
    padding: 0.1rem;
    align-items: center;
    background-color: white;
}

.card-hover {
    box-shadow: 0 0.5rem 1rem 0 black;
}


.accordian{
    box-shadow: 0 0.25rem 0.5rem 0 black;
    transition: 0.3s;
    min-height: 10rem;
    min-width: 10rem;
    border: 0.05rem solid black;
}


/*Classes*/
