<html>
    <head>
        <title>Vidi</title>
    </head>
    <body>
        <header>Vidi system</header>
        <main>
            <div>
                <section>
                    <article>
                        <header>initial card</header>
                        <main>This isa test</main>
                        <footer>Another footer</footer>
                    </article>
                </section>
            </div>
        </main>
        <footer>Footer for Vidi</footer>
    </body>
    </html>